{% extends "timeseries_viewer/base.html" %}
{% load staticfiles%}
{% load tethys_gizmos %}

{% block app_navigation_items %}
<form method="post">

{% csrf_token %}
 <h1>Legend</h1>
    {%for ts in legend%}
    <ul>
        <li>{{ts}}</li>
    </ul>
    {%endfor%}
    <p></p>
{% endblock %}


{% block app_content %}
 <h1>Welcome to CUAHSI time series viewer</h1>
    {%if show_add_clear_ts = True%}
{%gizmo button water_ml%}{%gizmo button hydroshare%}
    {%endif%}
<p></p>
{%if show_hydroshare = True%}
    {% gizmo text_input hydroshare_resource %}
    {% gizmo text_input hydroshare_file %}
{%endif%}
{%if show_waterml = True%}
    {% gizmo text_input text_input_options %}
{%endif%}

{%if show_add_clear_ts = True%}
    {% gizmo button add_ts %}{% gizmo button clear_all_ts %}
{%endif%}


{% csrf_token %}

{% gizmo plot_view timeseries_plot%}

<h1>Statistics</h1>

<table border="1" style="width:100%">
  <tr >
      <th >Site Name</th>
      <th>Mean</th>
      <th>Median</th>
      <th>Standard Deviation</th>
  </tr>
    {%for stat in stat_data%}
  <tr class ="red">
      <td>{{stat.site_name}}</td>
      <td>{{stat.mean}}</td>
      <td>{{stat.median}}</td>
      <td>{{stat.stdev}}</td>
  </tr>
    {%endfor%}
</table>





</form>
<p></p>
{% endblock %}

{% block app_actions %}

  <a href="" class="btn btn-default">Next</a>
  <a href="" class="btn btn-default">Back</a>

{% endblock %}

