{% extends "ts_converter/base.html" %}
{% load staticfiles%}
{% load tethys_gizmos %}

{% block app_navigation_items %}
<form method="post">

{% csrf_token %}
 <h1>Legend</h1>
    {%for ts in legend%}
    <ul>
        <li>{{ts}}</li>
    </ul>
    {%endfor%}


    <p></p>


 <h1>R-Scripts</h1>

{% gizmo select_input select_r_script %}
    {% gizmo button select_r %}

<a href="{% url 'ts_converter:View_R_Code' %} " class = "btn btn-default">View R Code</a>
{% endblock %}


{% block app_content %}
 <h1>Welcome to HydroScriptR</h1>
{%gizmo button water_ml%}{%gizmo button hydroshare%}
<p></p>
{%if show_hydroshare = True%}
    {% gizmo text_input hydroshare_resource %}
    {% gizmo text_input hydroshare_file %}
{%endif%}
{%if show_waterml = True%}
    {% gizmo text_input text_input_options %}
{%endif%}

{% gizmo button add_ts %}{% gizmo button clear_all_ts %}

{%if download_bool%}
    <a href="{{string_download}}" class = "btn btn-default">Download Data</a>
{%endif%}
{% csrf_token %}

{% gizmo button graph %}
{% gizmo plot_view timeseries_plot%}


<div id = "info">

</div>

<div id = "function">
{%if Current_r == "Time Series Converter" %}
    <h1>Required Input for {{Current_r}}</h1>
    {% gizmo select_input select_interval %}
    {% gizmo select_input select_stat %}
{%endif%}

{%if Current_r != "Select an R script"%}
    {% gizmo button run %}
{%endif%}
</div>

</form>


{% endblock %}

{% block app_actions %}

  <a href="" class="btn btn-default">Next</a>
  <a href="" class="btn btn-default">Back</a>

{% endblock %}

