{% extends "ts_converter/base.html" %}
{% load staticfiles%}
{% load tethys_gizmos %}

{% block app_navigation_items %}
<form method="post">

{% csrf_token %}
 <h1>Legend</h1>
    {%for ts in legend%}
    <ul>
        <li>{{ts}}</li>
    </ul>
    {%endfor%}

{% gizmo button add_ts %}
    <p></p>
{% gizmo button clear_all_ts %}

 <h1>R-Scripts</h1>

{% gizmo select_input select_r_script %}
    {% gizmo button select_r %}
<p></p>
<a href="{% url 'ts_converter:View_R_Code' %} " class = "btn btn-default">View R Code</a>
{% endblock %}


{% block app_content %}
 <h1>Welcome to HydroScriptR</h1>
{% gizmo text_input text_input_options %}
      
{%if download_bool%}
    <a href="{{string_download}}" class = "btn btn-default">Download Data</a>
{%endif%}
{% csrf_token %}

{% gizmo button graph %}
{% gizmo highcharts_plot_view plot%}


<div id = "info">

</div>

<div id = "function">
{% gizmo select_input select_interval %}
{% gizmo select_input select_stat %}
{% gizmo button run %}
</div>

</form>


{% endblock %}

{% block app_actions %}

  <a href="" class="btn btn-default">Next</a>
  <a href="" class="btn btn-default">Back</a>

{% endblock %}

